# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Database
server/prisma/dev.db
server/prisma/dev.db-journal

# Puppeteer
.cache/puppetter/
