# Project: Trio App

# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/scripts/*.txt
server/scripts/*.json
!server/scripts/seedData.js

# Puppeteer & Browser Profiles
.cache/
chrome-stealth-profile/
server/chrome-stealth-profile/
server/browser_data/
browser_data/
.local-chromium/

# Database
server/prisma/dev.db
server/prisma/dev.db-journal
server/emlak22.db
server/emlak22.db-journal

# OS specific
.DS_Store
Thumbs.db
Desktop.ini
